<div class="col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3 class="card-title category-title">
                        <span class="font-weight-bold">Anuncios</span>
                        <span class="text-muted font-14 d-block my-auto">Total posts: 320,426</span>
                    </h3>
                </div>
            </div>

            <div *ngFor="let category of [ 1, 2, 3, 4, 5 ]; let last = last;">
                <div class="row">
                    <div class="col-lg-8 col-sm-7 col-xs-12 p-r-20">
                        <div class="d-flex flex-row">
                            <div class="p-2 m-r-5">
                                <i class="mdi mdi-angularjs app-link text-primary display-5" routerLink="/topics"></i>
                            </div>
                            <div class="my-auto">
                                <h4 class="card-title font-weight-bold">
                                    <a routerLink="/topics" class="app-link text-primary">Category name</a>
                                </h4>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-5 col-xs-12 my-auto">
                        <div class="d-flex flex-row
                            justify-content-center
                            justify-content-sm-end
                            justify-content-md-end
                            justify-content-lg-end
                            justify-content-xl-end">
                            <div class="p-2 text-center">
                                <h4 class="card-title">1.219</h4>
                                <span>Views</span>
                            </div>
                            <div class="p-2 text-center">
                                <h4 class="card-title">3.198</h4>
                                <span>Topics</span>
                            </div>
                            <div class="p-2 text-center">
                                <h4 class="card-title">12.467</h4>
                                <span>Posts</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!last" class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
