<div class="col-xs-12">
    <div class="row" *ngFor="let category of [1, 2, 3, 4, 5]">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-t-5 p-b-5">
                    <!-- Estadísticas -->
                    <div class="d-flex">
                        <div class="my-auto p-t-10">
                            <span class="display-6 my-auto">
                                <i class="ti-notepad"></i>
                            </span>
                        </div>
                        <div class="m-l-10 my-auto">
                            <h3 class="m-b-0">120</h3>
                            <h6 class="m-b-0">Topics</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Título y descripción -->
                        <div class="col-md-7 col-xs-12 my-auto">
                            <h4 class="card-title">
                                <a href="#" class="link">Category name</a>
                            </h4>
                            <p class="card-text">Some quick example text to build on content.</p>
                            <a href="#" class="btn btn-primary p-l-30 p-r-30">
                                <span class="m-r-5">Ir al foro</span>
                                <i class="mdi mdi-login-variant"></i>
                            </a>
                        </div>

                        <!-- Último post -->
                        <div class="col-md-5 col-xs-12">
                            <h4 class="card-title text-right">Last post</h4>
                            <a href="#" class="link d-block text-right">Lorem Ipsum is simply dummy text...</a>
                            <div>
                                <span class="text-muted float-right">
                                    By <a href="#" class="link">James Anderson</a>, on April 14, 2016
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
