<div class="card m-b-0">
    <div class="card-body text-center">
        <h4 class="card-title p-b-5">Filter topics</h4>

        <div class="row">
            <div class="col-12">
                <app-tag *ngFor="let tag of tags" [tag]="tag" closable="true" [close]="removeTagCallback" class="m-b-5"></app-tag>

                <div *ngIf="tags.length < 1" class="alert alert-info m-b-0" role="alert">
                    <i class="fas fa-info m-r-5"></i> No se ha aplicado ninguna etiqueta.
                </div>
            </div>
        </div>
    </div>
</div>
