@import '../../../../assets/scss/variable';

.badge i.fas {
    padding: 2px 3px 2px 3px;
}

.tag-container {
    border: 1px solid #e9ecef;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.tag-focused {
        border-color: rgba(0, 0, 0, 0.25);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &.loadable.open {
        border-left: 1.1px solid rgba(0, 0, 0, 0.5);
        border-top: 1.1px solid rgba(0, 0, 0, 0.5);
        border-right: 1.1px solid rgba(0, 0, 0, 0.5);
    }

    &.is-valid {
        border-color: #36bea6;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &.tag-focused {
            box-shadow: 0 0 0 0.2rem rgba(54, 190, 166, 0.25);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }

    &.is-invalid {
        border-color: #f62d51;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &.tag-focused {
            box-shadow: 0 0 0 0.2rem rgba(246, 45, 81, 0.25);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }

    & input {
        display: inline-block;
        width: auto;
        border: none !important;
        box-shadow: none !important;
    }
}

input.loadable.open {
    border-left: 1.1px solid rgba(0, 0, 0, 0.5);
    border-top: 1.1px solid rgba(0, 0, 0, 0.5);
    border-right: 1.1px solid rgba(0, 0, 0, 0.5);
}

.form-group.not-invalid {
    margin-bottom: 1.5rem !important;
}
.form-group.is-invalid {
    margin-bottom: 0.2rem !important;
}

.autocomplete-box {
    position: absolute;
    top: 34px;
    left: 10px;
    right: 10px;
    z-index: 1400;
    will-change: transform;
    transform: translate(0px, 35px);
    padding-top: 10px;
    background: #fafafa;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);

    & .alert {
        margin: 0 10px 10px 10px;
    }

    & ul > li > a {
        cursor: pointer;
        padding: 7px 15px 7px 15px;

        &:hover, &:focus {
            background: #f5f5f5;

            & > span {
                color: $dark !important;
            }
        }
    }
}

:host ::ng-deep quill-editor.ng-dirty.ng-valid {
    & .ql-toolbar {
        border-left-color: #36bea6;
        border-top-color: #36bea6;
        border-right-color: #36bea6;
    }
}
:host ::ng-deep quill-editor.ng-dirty.ng-valid {
    & .ql-container {
        border-left-color: #36bea6;
        border-bottom-color: #36bea6;
        border-right-color: #36bea6;

        & .ql-editor:focus {
            box-shadow: 0 0 0 0.2rem rgba(54, 190, 166, 0.25);
        }
    }
}

:host ::ng-deep quill-editor.ng-dirty.ng-invalid {
    & .ql-toolbar {
        border-left-color: #f62d51;
        border-top-color: #f62d51;
        border-right-color: #f62d51;
    }
}
:host ::ng-deep quill-editor.ng-dirty.ng-invalid {
    & .ql-container {
        border-left-color: #f62d51;
        border-bottom-color: #f62d51;
        border-right-color: #f62d51;

        & .ql-editor:focus {
            box-shadow: 0 0 0 0.2rem rgba(246, 45, 81, 0.25);
        }
    }
}
