<div class="card card-image main-jumbotron">
    <div class="text-white text-center p-40">
        <!-- Inner card -->
        <div class="card card-image inner-card m-b-0">
            <!-- Content -->
            <div class="content p-30">
                <h2 class="card-title h2">Jumbotron with image overlay</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
                <div class="text-center">
                    <a class="btn btn-warning p-l-40 p-r-40">
                        <i class="fas fa-clone left"></i>
                        Go to forum
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
