<!-- ============================================================== -->
<!-- Posts y chats recientes -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-8">
        <app-categories></app-categories>
    </div>

    <div class="col-lg-4">
        <div class="row">
            <div class="col-md-12">
                <app-comment></app-comment>
            </div>

            <div class="col-md-12">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Encuesta y estadísticas -->
<!-- ============================================================== -->
<div class="row encuesta-estadisticas">
  <!-- Encuesta -->
  <div class="col-sm-12 col-lg-6">
      <app-week-poll></app-week-poll>
  </div>

  <!-- Estadísticas generales -->
  <div class="col-sm-12 col-lg-6">
      <app-mix-stats></app-mix-stats>
  </div>
</div>
<!-- ============================================================== -->
<!-- Más estadísticas -->
<!-- ============================================================== -->
<app-rpb></app-rpb>
