/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');


.fas.fa-spinner.fa-spin {
    animation: fa-spin 1.25s infinite linear !important;
}

.modal-header button.close:focus {
    outline: none;
}

form button[type="submit"][disabled] {
    cursor: default;
}
